<configuration>
  <appSettings>
     <add key="LoginURL" value="http://localhost:3000/?token=" />
     <add key="PrivateKeyPEM" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAs0IIkQI3R3WqgVaOlPRv7GOjQRBkQ8kTT1X0EAENRAJc6bKM
ys806j9uXk11Am1yLRyC3Mf4zD/gu2nWlZr6xj8fndN+vYD64pAh0LkK0MuwnxfV
oXjFmjZCGdo6p8Oaa+S+wahc8OOkG3R43tyAkENwmewdzGCCt/GtmFr7P/bBH4rx
a4NHEaKoohPtTSNSBjeSAYtJFQDbAvzBz6OcquQ+52X0m8TYV1PmEY8OeY58/P64
QURuCfa4TZ/AdjHxennhoQh4aGqlJGPpCFVvnSFRSiJWd4eqi++jqs6oO3mj6zUz
dW/mFDdl22YOwMa/0enOJ75b5pBreRnTUppSdwIDAQABAoIBAEoWvdGpV82qPWmt
q8q26NeMKvqGWtqFbfy5auF+fcwhKePRT023rIgw5V4Gp5j0QV+RzCiSYiuRL0Jm
sTEuV/2+M0QZGOYcPBWOOtu4z1aTCZIH2N0fPJTLXjCvONUEDHwRlCIYgylw/O/4
CMkb2+tEZHLJ21sQfJaoRfaVjAjYMz9+dusKrltavvujerr83RlDMncbal7yseKi
fWbunNDkOIAr6Ekeaa5/1T807XA49eMyd3aoiewlWnIZtSmkJHn/CAxE4frdD38T
dYY6dZnjEsm4zuE52mfA1RCkufGdBqiqpexE47AnWfrGv+uDe4rPRzSpXZvhhFiT
Q49/IHECgYEA5/qVgYsMOu5gEbO4abqpy+jehvJFOqslPSBWA06JMY5zC/YlH6/H
mnOqYqNZLFhlfTdVIkpnaUWy+rhgpq5jTYikQp4x0VXSM/WAutoCOTZoH70wpXpi
6v4TQkeVv5eJpVwklxTbcPiyQ7Ly9PjZ1da380ErS2aTV+/mwVhCr+8CgYEAxdHl
eGgD9V6v7OJx3yEaoBNO24l6AQvbef8m8AOmbaYO6f7jIUHuJn1IpIvp1ZFUpJZM
zH7dFreWkr8kNcVpxyX/1Dob11w/OJRkUrF3uTNBlZxL4HhxtiKbvLLsvy9ZkblF
MNggs6AqNC4Of1RrrhswLDLxXT/aS1y+2+4C/fkCgYEAlc8iy9TTIh+dFPF+L3Fn
hBKv2nAMuzWZR99hDKOkP8ehjmD4Wn03Jwx5RVf+F4BCklmwdgOcwsRLMFTvvdSy
tnh+s7Lbszd8Fyf9aS2u7+mt1olkKAlgZieMomn+UAt5zbsyugqzKELDRKsE8aTf
cJRImSRF5Fyq3MhFuijYcCsCgYEAkmmqB5Yk5+TvHMr1MQqVZEkmIoL8E+4swXzB
2v84nQs9Gp+WiDT+COrNa0xLA9EO7sp3iRuUk43KGk7yhAHbKpTLZs6jcKBMApqC
Llo/nIl9TzhhSICc2QuAbQeZBmALUTnpJh+xBIHU+s3j2QYotLJW0z/ZOQVbkk/Q
y4K8IDECgYAhzOOjn/yfCBymecPoyIntOKvcKlePVJtDN0vHQcHXOO+Brjtjc7q2
mrlqHxAPVctkT1wOBb0fLxE0VAmhhl0xo4AKVy6937952dPhL77q3tS5xivHuTjt
bkn1qpSfW+8LEeq8nHbeSR5G7WWAGvyonOBVx1nkV61jxE1cIuhWqQ==
-----END RSA PRIVATE KEY-----" />
    <add key="Issuer" value="gostrings.com" />
  </appSettings>
  <system.web>
  <!--
    <authorization>
      <allow roles="DOMAIN\GROUP" />
      <deny users="*" />
    </authorization>
  -->
    <compilation>
     <assemblies>
       <add assembly="SignedJwtCreator"/>
     </assemblies>
    </compilation>
  </system.web>
</configuration>
